<div *ngIf="taskDetails">
    <h3>Detalhes da Task</h3>
    <p><strong>Título:</strong> {{ taskDetails.title }}</p>
    <p><strong>Descrição:</strong> {{ taskDetails.description }}</p>
    <p><strong>Assignee:</strong> {{ taskDetails.assignee.name }}</p>
    <p><strong>Status:</strong> {{ taskDetails.state }}</p>
    <!-- Adicione outros campos conforme necessário -->
  </div>
  
  <!-- Caso os dados não tenham sido carregados -->
  <div *ngIf="!taskDetails">
    <p>Carregando dados da task...</p>
  </div>
  