<div>
  <label for="projectSelect">Escolha um projeto:</label>
  <select id="projectSelect" [(ngModel)]="selectedProjectId" (change)="onProjectSelect()">
    <option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</option>
  </select>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Descrição</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let issue of issues">
      <td>{{ issue.id }}</td>
      <td>{{ issue.title }}</td>
      <td>{{ issue.description }}</td>
      <td>{{ issue.state }}</td>
    </tr>
  </tbody>
</table>
