/* ====================== */
/* DASHBOARD E GERAL */
/* ====================== */

.dashboard {
    background-color: #2b3d52;
}

.arrow {
    font-size: 14px;
    transition: transform 0.3s ease;
}

.arrow.rotated {
    transform: rotate(90deg);
}

.submenu {
    list-style: none;
    margin: 0;
    padding: 0 16px;
}

.submenu-item {
    padding: 4px 0;
    font-size: 14px;
    color: #b0c4de;
}

.submenu-item:hover {
    color: #f5f9ff;
}

/* ====================== */
/* CABEÇALHO INFERIOR */
/* ====================== */

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1px;
    background-color: #223348;
}

/* Bloco de Tecnologia */
.bloco-tecnologia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 360px;
    min-width: 320px;
    height: 148px;
    padding: 32px;
    color: #f5f9ff;
    border-right: 1px solid rgba(173, 200, 235, 0.14);
    border-bottom: 1px solid rgba(173, 200, 235, 0.14);
}

.bloco-tecnologia .conteudo {
    display: flex;
    flex-direction: column;
    width: 296px;
}

/* Breadcrumb */
.bloco-tecnologia .breadcrumb {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: rgba(245, 249, 255, 0.7); /* Cor com transparência */
    display: block; /* Garante que o breadcrumb fique em sua própria linha */
}

/* Título */
.bloco-tecnologia .titulo {
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    color: white;
}

/* Status */
.bloco-tecnologia .status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    width: 86px; /* Mantém o tamanho correto */
    height: 29px;
    border-radius: 8px;
    background: var(--semantic-colors-success-10, #0FF56F1A);
    color: #0FF56F;
    font-weight: 500;
    font-size: 14px;
}

/* Bloco de Indicadores */
.bloco-indicadores {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 360px;
    min-width: 320px;
    height: 148px;
    padding: 16px;
    color: #f5f9ff;
    text-align: center;
    border-right: 1px solid rgba(173, 200, 235, 0.14);
    border-bottom: 1px solid rgba(173, 200, 235, 0.14);
}

.bloco-indicadores::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #0C6CE9 50%, #E0241A 50%);
}

.bloco-indicadores::before {
    content: "";
    display: block;
    width: 1px;
    height: calc(100% - 5px);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(173, 200, 235, 0.14);
}

.bloco-indicadores .pendente,
.bloco-indicadores .atrasadas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 180px;
    height: 100%;
    padding: 16px;
}

.bloco-indicadores svg {
    width: 20px;
    height: 20px;
    color: #f5f9ff;
}

.texto-numero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 104px;
    height: 54px;
    gap: 16px;
}

.texto-numero .texto {
    font-weight: 600;
    font-size: 13px;
    line-height: 125%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #f5f9ff;
}

.texto-numero .numero {
    font-weight: 600;
    font-size: 40px;
    line-height: 125%;
    color: #f5f9ff;
}

/* ====================== */
/* BLOCO FILTRO */
/* ====================== */
.bloco-filtro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px 88px 16px 32px;
    width: auto;
    height: 148px;
    min-width: 400px;
    color: #f5f9ff;
    border-bottom: 1px solid rgba(173, 200, 235, 0.14);
    border-radius: 0;
  }
  
  .titulo-filtro {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 3%;
    color: #D9E8FCB0;
    text-align: left;
    margin: 0 0 8px 0;
  }
  
  .campos-data {
    display: flex;
    justify-content: space-between;
    gap: 19px;
  }
  
  .date-wrapper {
    position: relative;
    width: 336px;
    min-width: 300px;
  }
  
  .data {
    width: 100%;
    height: 36px;
    padding: 8px 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    background-color: rgba(173, 200, 235, 0.14);
    color: #f5f9ff;
    font-size: 14px;
    background-clip: padding-box;
    z-index: 1;
    position: relative;
  }
  
  .date-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px; /* Ajuste conforme necessário */
    transform: translateY(-50%);
    width: 18px; /* Tamanho do ícone */
    height: 18px; /* Tamanho do ícone */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
  }

/* ====================== */
/* BLOCO QUADROS */
/* ====================== */
.quadros-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: 20px;
}

.quadro {
    width: calc(33.33% - 16px);
    height: auto;
    background: var(--Shades-Base, #223348);
    border-radius: var(--Border-Radius-L, 8px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quadro:hover {
    transform: scale(1.05); /* Aumenta o tamanho */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
}

.quadro-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinha verticalmente todos os elementos */
    height: 78px; /* Define a altura fixa */
    border: 1px solid rgba(173, 200, 235, 0.14);
    padding: 0; /* Remove o padding externo */
    position: relative;
    overflow: hidden; /* Garante que nada saia dos limites */
}

.projeto-info {
    flex: 1; /* Ocupa metade do espaço */
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    min-width: 160px; /* Garante um tamanho mínimo */
    border-right: 1px solid rgba(173, 200, 235, 0.14); /* Adiciona a linha divisória */
    justify-content: center; /* Centraliza verticalmente */
}

.projeto-nome {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.projeto-status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    width: 86px;
    height: 29px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
}
/* Estável */
.projeto-status.estavel {
    background: var(--semantic-colors-success-10, #0FF56F1A);
    color: #0FF56F;
}

/* Crítico */
.projeto-status.critico {
    background: var(--semantic-colors-error-10, #E75D5524);
    color: #E75D55;
}

/* Instável */
.projeto-status.instavel {
    background: var(--semantic-colors-warning-10, #FFAA0033);
    color: #FFAA00;
}


.quadro-indicadores {
    flex: 1; /* Ocupa a outra metade do espaço */
    display: flex;
    align-items: center;
    justify-content: space-evenly; /* Espaçamento uniforme entre os indicadores */
    height: 60px;
    position: relative;
    padding: 0 20px;
    color: white;
    margin-bottom: 8px; /* ou 12px, se quiser mais espaço */
    
}

.quadro-indicadores::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 5px;
    display: block;
    background: linear-gradient(to right, #0C6CE9 50%, #E0241A 50%);
    z-index: 1;
}

.quadro-indicadores::before {
    content: "";
    display: block;
    width: 1px;
    height: 115%; /* altura maior */
    position: absolute;
    top: -0.5%; /* empurra para cima para compensar a altura extra */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(173, 200, 235, 0.14);
}


.indicador {
    display: flex;
    align-items: center;
    gap: 8px;
}

.indicador svg.icone {
    width: 24px;
    height: 24px;
    color: #fff;
}

.quadro-tabela {
    height: 214px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linha {
    display: flex;
    justify-content: space-between;
    height: 35px;
    border-bottom: 1px solid rgba(173, 200, 235, 0.14);
}

.linha.categoria .coluna-esquerda {
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 8px;
}

.linha.subcategoria {
    padding-left: 16px;
}

.linha.subcategoria .coluna-esquerda {
    color: #ADBED4; /* um tom mais claro que o branco puro */
    font-size: 13px;
}

.linha.subcategoria .coluna-direita {
    color: #ADBED4;
    font-size: 13px;
}


.coluna-esquerda {
    width: 203.33px;
    font-size: 14px;
    color: #fff;
}

.coluna-direita {
    width: 203.33px;
    text-align: right;
    font-size: 14px;
    color: #fff;
    margin-top: 8px;
}

.quadro-rodape {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 68px;
    padding: 16px;
}

.btn-detalhes {
    width: 117px;
    height: 36px;
    border-radius: var(--Border-Radius-M, 8px);
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 16px;
    background-color: rgba(173, 200, 235, 0.14);
    color: #90BDF9;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .btn-detalhes:hover {
    background-color: rgba(173, 200, 235, 0.25); /* um pouco mais forte */
    transform: scale(1.03);
  }
  

@media (min-width: 1200px) {
    .quadros-container {
        padding: 8px; /* Reduza o padding lateral em telas maiores */
    }
}