<!-- Cabeçalho -->
<section class="cadastro">
  <app-cabecalho></app-cabecalho>
</section>

<!-- Seção Principal -->
<section class="header-bottom">
  <!-- Bloco de Tecnologia -->
  <article class="bloco-tecnologia">
    <div class="conteudo">
      <h2 class="titulo">Cadastro</h2>
      <span class="status">Score</span>
    </div>
  </article>

  <!-- Bloco de Filtros -->
  <aside class="bloco-filtro">
    <div class="filtro-container">
      <!-- Dropdown -->
      <div class="dropdown-wrapper">
        <select id="tipo-filtro" class="dropdown">
          <option value="" disabled selected>Selecione uma categoria</option>
          <option value="classificacao">Classificação</option>
          <option value="descricao">Descrição</option>
          <option value="score">Score</option>
        </select>
      </div>
      <!-- Input de texto -->
      <div class="input-wrapper">
        <input
          type="text"
          id="filtro-descricao"
          class="input-text"
          placeholder="Digitar filtro de descrição"
        />
        <button class="btn-search">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon-search"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-4.35-4.35m1.6-6.4a7.5 7.5 0 1 1-15 0 7.5 7.5 0 0 1 15 0z"
            />
          </svg>
        </button>
      </div>
    </div>
  </aside>
</section>

<!-- Seção de Categorias -->
<section class="categorias">
  <!-- Botões de Ação -->
  <div class="acoes">
    <button class="btn-editar-categorias" (click)="abrirModal()">
      <img
        class="size-6"
        src="assets/images/icon_primary_text/edit.svg"
        alt="Ícone de edição"
      />
      Editar categorias
    </button>
    <button class="btn-nova-classificacao">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
      Nova classificação
    </button>
  </div>

  <!-- Lista de Categorias -->
  <div
    *ngFor="let categoria of categorias"
    class="categoria"
    [class.expandida]="categoria.expandida"
  >
    <div
      class="categoria-minimizada"
      (click)="toggleCategoria(categoria.id)"
    >
      <span class="categoria-titulo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="seta-icone"
          [class.expanded]="categoria.expandida"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5"
          />
        </svg>
        {{ categoria.titulo }}
      </span>
      <div class="indicador">
        <i class="icone-ancora">
          <img
            class="ancora-svg"
            src="assets/images/icon_contrast_100/peso.svg"
            alt="Ícone de peso"
          />
        </i>
        <span class="porcentagem">{{ categoria.porcentagem }}%</span>
      </div>
    </div>

    <!-- Detalhes da Categoria -->
    <div class="categoria-detalhes" *ngIf="categoria.expandida">
      <table>
        <thead>
          <tr>
            <th (click)="sortTable('classificacao', categoria.id)">
              CLASSIFICAÇÃO
            </th>
            <th (click)="sortTable('descricao', categoria.id)">DESCRIÇÃO</th>
            <th (click)="sortTable('score', categoria.id)">SCORE</th>
            <th>AÇÕES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dado of categoria.dados">
            <td><span class="nivel">{{ dado.classificacao }}</span></td>
            <td>{{ dado.descricao }}</td>
            <td>
              <span
                class="score"
                [ngClass]="{
                  'verde': dado.score < 4,
                  'amarelo': dado.score >= 4 && dado.score < 7,
                  'vermelho-claro': dado.score >= 7 && dado.score < 9,
                  'vermelho-escuro': dado.score >= 9
                }"
              >
                {{ dado.score }}
              </span>
            </td>
            <td>
              <button class="btn-editar">
                <img
                  class="size-6"
                  src="assets/images/icon_primary_text/edit.svg"
                  alt="Ícone de edição"
                />
              </button>
              <button class="btn-excluir">
                <img
                  class="size-6"
                  src="assets/images/icon_primary_text/delete.svg"
                  alt="Ícone de exclusão"
                />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<!-- Modais -->
<!-- Modal Principal -->
<div class="modal" *ngIf="modalAberto">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Categorias</h2>
      <button
        class="btn-fechar"
        (click)="fecharModal()"
        aria-label="Fechar"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon-close"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <div class="modal-body">
      <!-- Conteúdo do Modal -->
    </div>
    <div class="modal-footer">
      <button class="btn-cancelar" (click)="fecharModal()">Cancelar</button>
      <button
        class="btn-gravar"
        [disabled]="calcularPesoTotal() !== 100"
        (click)="gravarCategorias()"
      >
        Gravar
      </button>
    </div>
  </div>
</div>

<!-- Modal Secundário -->
<div class="modal" *ngIf="modalNovaCategoriaAberto">
  <div class="modal-content-secundario">
    <div class="modal-header">
      <h2 class="modal-title">Nova Categoria</h2>
      <button
        class="btn-fechar"
        (click)="fecharModalNovaCategoria()"
        aria-label="Fechar"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon-close"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <div class="modal-body">
      <!-- Conteúdo do Modal Secundário -->
    </div>
    <div class="modal-footer">
      <button
        class="btn-cancelar"
        (click)="fecharModalNovaCategoria()"
      >
        Cancelar
      </button>
      <button
        class="btn-gravar"
        [disabled]="!novaCategoriaNome || novaCategoriaPeso < 0 || novaCategoriaPeso > 100"
        (click)="gravarNovaCategoria(novaCategoriaNome, novaCategoriaPeso)"
      >
        Gravar
      </button>
    </div>
  </div>
</div>