.numero-interativo {
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s,
    box-shadow 0.2s,
    transform 0.2s;
  border-radius: 6px;
}

.numero-interativo:hover {
  background: #243447;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  transform: scale(1.10);
}

/* ====================== */
/* BLOCO FILTRO */
/* ====================== */

.cabecalho-responsavel {
  align-items: center;
  padding-right: 16px;
  padding-left: 0;
  height: 100%;
}

.coluna-responsavel {
  text-align: right;
  padding-right: 16px;
  padding-left: 0;
}

.titulo-coluna {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  height: 35px;
}

.icone-seta {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  fill: #B4CDEE3B;
  transition: transform 0.2s ease, fill 0.2s ease;
}

.icone-seta.ascending {
  transform: rotate(180deg);
  fill: #3498db;
}

.icone-seta.descending {
  transform: rotate(0deg);
  fill: #e74c3c;
}

.texto-cliente {
  display: inline-block;
  background-color: #C0D5F20F;
  border-radius: var(--border-radius-md);
  padding: 4px 8px;
}

.texto-status {
  display: inline-block;
  padding: 4px 10px;
  background-color: #2c3e50;
  border-radius: var(--border-radius-md);
  text-align: center;
  min-width: 80px;
}

.coluna-status {
  width: 250px;
  text-align: center;
}

.texto-score {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 8px;
  min-width: 60px;
  text-align: center;
}

.score-tooltip-modal {
  position: absolute;
  left: calc(100% - 80px);
  top: 0;
  width: 624px;
  max-width: 90vw;
  height: auto;
  min-height: 180px;
  background: #2B3D52;
  color: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 9999;
  font-size: 14px;
  line-height: 1.5;
  overflow-wrap: break-word;
}

.score-tooltip-modal.tooltip-up {
  top: auto;
  bottom: 0;
}

.score-cell:hover .score-tooltip-modal {
  display: block;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  padding: 8px;
  text-align: center;
}

.col-peso,
.col-score {
  border-right: 1px solid rgba(173, 200, 235, 0.24);
}

.badge-classificacao {
  background: #C0D5F20F;
  color: #cbd6e2;
  padding: 5px 10px;
  border-radius: 6px;
}

.badge {
  font-size: 14px;
}

.col-subtotal {
  text-align: right !important;
}

.dot-red {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
  border-radius: 50%;
  background-color: #E0241A;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  background-color: #2B3D52;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.icone-link {
  width: 20px;
  height: 20px;
  color: #D1E3FA94;
  stroke: currentColor;
}

.quantidade-sucessoras {
  position: relative;
  top: -10px;
  right: -4px;
  font-size: 10px;
  color: #D1E3FA94;
  font-weight: 500;
}

.sucessoras-button {
  text-decoration: none;
}

@media (min-width: 1440px) {
  .cabecalho-inferior {
    gap: 32px;
  }

  .bloco-tecnologia,
  .bloco-indicadores,
  .bloco-filtro {
    padding: 32px;
  }

  .titulo {
    font-size: 26px;
  }

  .texto-numero .numero {
    font-size: 48px;
  }
}

.link-is {
  color: #f5f9ff !important;
  text-decoration: none;
}

.link-is:hover {
  text-decoration: underline;
}

.tabela-fluxo .col-kickoff {
  width: 120px;
  min-width: 100px;
}

.tabela-fluxo .col-abert-analise,
.tabela-fluxo .col-kickoff-analise,
.tabela-fluxo .col-abert-kickoff,
.tabela-fluxo .col-abert-dev,
.tabela-fluxo .col-is {
  width: 180px;
  min-width: 150px;
}

.tabela-fluxo .col-analise-dev {
  width: 100px;
  min-width: 80px;
}

.tabela-fluxo .col-abert-qa,
.tabela-fluxo .col-dev-qa,
.tabela-fluxo .col-em-prod,
.tabela-fluxo .col-qa-prod {
  width: 140px;
  min-width: 120px;
}

.tabela-fluxo .col-total-dias {
  width: 80px;
  min-width: 60px;
  text-align: right;
}

.tabela-fluxo .col-acoes {
  width: 80px;
  min-width: 60px;
  text-align: center;
}
