<section class="tarefas">
  <app-cabecalho></app-cabecalho>

  <section class="header-bottom">
    <article class="bloco-tecnologia">
      <div class="conteudo">
        <div class="topo-bloco">
          <app-voltar (voltar)="voltar()"></app-voltar>
          <div class="info-projeto">
            <span class="breadcrumb">Dashboard / Tarefas</span>
            <div class="linha-titulo">
              <h2 class="titulo">{{ nomeProjeto }}</h2>
              <span class="projeto-status" [ngClass]="removerAcentos(statusGeral)">
                {{ statusGeral }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article class="bloco-indicadores bloco-indicadores--paa">
      <div class="pendente">
        <div class="icon">
          <svg class="size-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
            <use href="#icone-pendente"></use>
          </svg>
        </div>
        <div class="texto-numero">
          <div class="texto">Pendentes</div>
          <div class="numero">{{ pendentesTotal }}</div>
        </div>
      </div>

      <div class="atrasadas">
        <div class="icon">
          <svg class="size-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
            <use href="#icone-atrasadas"></use>
          </svg>
        </div>
        <div class="texto-numero">
          <div class="texto">Atrasadas</div>
          <div class="numero numero-interativo" (click)="ordenarTarefas(ordenarAtrasadasPrimeiro)">
            {{ atrasadasTotal }}
          </div>
        </div>
      </div>

      <div class="aguardando-setor">
        <div class="icon">
          <svg class="size-6" viewBox="0 0 256 256" fill="none" stroke="currentColor" stroke-width="16"
            style="width: 22px; height: 22px;">
            <use href="#icone-aguardando"></use>
          </svg>
        </div>
        <div class="texto-numero">
          <div class="texto">Aguardando</div>
          <div class="numero numero-interativo" (click)="ordenarTarefas(ordenarAguardandoSetorPrimeiro)">
            {{ totalAguardandoSetor }}
          </div>
        </div>
      </div>
      <div class="divider div1"></div>
      <div class="divider div2"></div>
    </article>

    <!-- Bloco de Filtros -->
    <aside class="bloco-filtro">
      <div class="filtro-container">
        <div class="dropdown-wrapper">
          <select id="tipo-filtro" class="dropdown" [(ngModel)]="filtroColuna" (change)="onFiltroColunaChange($event)">
            <option value="" disabled selected>Selecione uma coluna</option>
            <option value="repositorio">Repositório</option>
            <option value="cliente">Cliente</option>
            <option value="status">Status</option>
            <option value="responsavel">Responsável</option>
            <option value="data_abertura">Data abertura</option>
            <option value="autor">Solicitante</option>
          </select>
        </div>

        <div class="input-wrapper">
          <ng-container *ngIf="valoresFiltro.length > 0; else inputFiltro">
            <select id="filtro-select" class="dropdown" [(ngModel)]="filtroValor">
              <option value="" selected>Selecione um valor</option>
              <option *ngFor="let valor of valoresFiltro">{{ valor }}</option>
            </select>
          </ng-container>
          <ng-template #inputFiltro>
            <input type="text" id="filtro-descricao" class="input-text" placeholder="Digite o filtro"
              [(ngModel)]="filtroValor" />
          </ng-template>
          <button class="btn btn-search" type="button">
            <svg class="icon-search" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
              <use href="#icone-lupa"></use>
            </svg>
          </button>
        </div>
      </div>
    </aside>
  </section>
</section>

<section class="tabela-container">
  <div class="tabela-scroll">
    <table class="tabela-tarefas">
      <thead>
        <tr>
          <th (click)="ordenarTarefas('prioridade')">
            <span class="titulo-coluna">
              Prioridade
              <svg viewBox="0 0 320 512" [ngClass]="{
                'icone-seta': true,
                'ascending': sortColumn === 'prioridade' && sortDirection === true,
                'descending': sortColumn === 'prioridade' && sortDirection === false
              }">
                <use xlink:href="#icone-seta"></use>
              </svg>
            </span>
          </th>
          <th (click)="ordenarTarefas('score_total')">
            <span class="titulo-coluna">
              Score Total
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" [ngClass]="{
                'icone-seta': true,
                'ascending': sortColumn === 'score_total' && sortDirection === true,
                'descending': sortColumn === 'score_total' && sortDirection === false
              }">
                <use xlink:href="#icone-seta"></use>
              </svg>
            </span>
          </th>
          <th (click)="ordenarTarefas('codigo_is')">
            <span class="titulo-coluna">
              Código IS
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" [ngClass]="{
                'icone-seta': true,
                'ascending': sortColumn === 'codigo_is' && sortDirection === true,
                'descending': sortColumn === 'codigo_is' && sortDirection === false
              }">
                <use xlink:href="#icone-seta"></use>
              </svg>
            </span>
          </th>
          <th (click)="ordenarTarefas('repositorio')">
            <span class="titulo-coluna">
              Repositório
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" [ngClass]="{
                'icone-seta': true,
                'ascending': sortColumn === 'repositorio' && sortDirection === true,
                'descending': sortColumn === 'repositorio' && sortDirection === false
              }">
                <use xlink:href="#icone-seta"></use>
              </svg>
            </span>
          </th>
          <th (click)="ordenarTarefas('cliente')">
            <span class="titulo-coluna">
              Cliente
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" [ngClass]="{
                'icone-seta': true,
                'ascending': sortColumn === 'cliente' && sortDirection === true,
                'descending': sortColumn === 'cliente' && sortDirection === false
              }">
                <use xlink:href="#icone-seta"></use>
              </svg>
            </span>
          </th>
          <th (click)="ordenarTarefas('status')" class="coluna-status">
            <span class="titulo-coluna">
              Status
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" [ngClass]="{
                'icone-seta': true,
                'ascending': sortColumn === 'status' && sortDirection === true,
                'descending': sortColumn === 'status' && sortDirection === false
              }">
                <use xlink:href="#icone-seta"></use>
              </svg>
            </span>
          </th>
          <th (click)="ordenarTarefas('prazo')">
            <span class="titulo-coluna">
              Prazo
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" [ngClass]="{
                'icone-seta': true,
                'ascending': sortColumn === 'prazo' && sortDirection === true,
                'descending': sortColumn === 'prazo' && sortDirection === false
              }">
                <use xlink:href="#icone-seta"></use>
              </svg>
            </span>
          </th>
          <th (click)="ordenarTarefas('responsavel')" class="cabecalho-responsavel">
            <span class="titulo-coluna">
              Responsável
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" [ngClass]="{
                'icone-seta': true,
                'ascending': sortColumn === 'responsavel' && sortDirection === true,
                'descending': sortColumn === 'responsavel' && sortDirection === false
              }">
                <use xlink:href="#icone-seta"></use>
              </svg>
            </span>
          </th>
          <th (click)="ordenarTarefas('data_abertura')">
            <span class="titulo-coluna">Data Abertura</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" [ngClass]="{
              'icone-seta': true,
              'ascending': sortColumn === 'data_abertura' && sortDirection === true,
              'descending': sortColumn === 'data_abertura' && sortDirection === false
            }">
              <use xlink:href="#icone-seta"></use>
            </svg>
          </th>
          <th (click)="ordenarTarefas('autor')">
            <span class="titulo-coluna">Solicitante</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" [ngClass]="{
              'icone-seta': true,
              'ascending': sortColumn === 'autor' && sortDirection === true,
              'descending': sortColumn === 'autor' && sortDirection === false
            }">
              <use xlink:href="#icone-seta"></use>
            </svg>
          </th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarefa of tarefasFiltradas; let i = index">
          <td>{{ tarefa.prioridade }}</td>
          <td class="score-cell" (mouseenter)="showTooltip(i)" (mouseleave)="hideTooltip()" style="position: relative;">
            <span class="texto-score" [ngClass]="getScoreClass(tarefa.score_total)">
              {{ tarefa.score_total }}
            </span>
            <ng-container *ngIf="openedTooltip === i">
              <div class="score-tooltip-modal" [ngClass]="{'tooltip-up': tarefasFiltradas.length - i <= 5}">
                <div class="tooltip-arrow"></div>
                <table>
                  <thead>
                    <tr>
                      <th class="col-categoria">CATEGORIA</th>
                      <th class="col-peso">PESO</th>
                      <th class="col-classificacao">CLASSIFICAÇÃO</th>
                      <th class="col-score">SCORE</th>
                      <th class="col-subtotal">SCORE SUB-TOTAL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tarefa.score_breakdown">
                      <td class="textoLarge col-categoria">{{ item.categoria }}</td>
                      <td class="textoLarge col-peso">{{ item.peso }}%</td>
                      <td class="texto-small col-classificacao">
                        <ng-container *ngIf="item.categoria === 'Prazo'; else normalClassificacao">
                          <span *ngIf="prazoAtrasado(item.classificacao)" class="dot-red"></span>
                          {{ item.classificacao | date: 'dd/MM/yyyy' }}
                        </ng-container>
                        <ng-template #normalClassificacao>
                          <span class="badge badge-classificacao">{{ item.classificacao }}</span>
                        </ng-template>
                      </td>
                      <td class="texto-small col-score">
                        <span class="badge" [ngClass]="getScoreClass(item.score)">
                          {{ item.score }}
                        </span>
                      </td>
                      <td class="texto-small col-subtotal">
                        <span class="badge" [ngClass]="getScoreClass(item.score)">{{ item.subTotal }}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
          </td>
          <td class="tooltip-container">
            <span class="tooltip-wrapper">
              <a [href]="tarefa.link" target="_blank" class="link-is">#{{ tarefa.codigo_issue }}</a>
              <span class="tooltip">{{ tarefa.titulo }}</span>
            </span>
          </td>
          <td>{{ tarefa.repositorio }}</td>
          <td class="coluna-cliente"><span class="texto-cliente">{{ tarefa.cliente }}</span></td>
          <td>
            <span class="texto-status" [ngStyle]="{ 'background-color': corDeStatus(tarefa.status), 'color': '#fff' }">
              {{ tarefa.status }}
            </span>
          </td>
          <td class="tooltip-container">
            <span class="status-bolinha" [ngClass]="{
              'verde': !prazoAtrasado(tarefa.prazo) && !tarefa.motivoAtraso,
              'vermelha': prazoAtrasado(tarefa.prazo) && !tarefa.motivoAtraso,
              'amarela': tarefa.motivoAtraso
            }"></span>
            {{ tarefa.prazo ? (tarefa.prazo | date: 'dd/MM/yyyy':'UTC') : 'Indefinido' }}
            <span class="tooltip" *ngIf="tarefa.motivoAtraso">
              {{ tarefa.motivoAtraso }}
            </span>
          </td>
          <td class="coluna-responsavel">
            {{ tarefa.responsavel }}
          </td>
          <td class="tooltip-container">
            <span class="status-bolinha azul"></span>
            {{ tarefa.data_abertura | date: 'dd/MM/yyyy' }}
          </td>
          <td>{{ tarefa.autor }}</td>
          <td class="coluna-sucessoras">
            <a *ngIf="getQuantidadeSucessoras(tarefa.id_issue) > 0" [routerLink]="['/sucessoras', tarefa.id_issue]"
              class="sucessoras-button relative inline-flex items-center justify-center w-6 h-6">
              <svg class="icon icone-link w-4 h-4 text-[#D1E3FA94]" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5">
                <use href="#icone-link"></use>
              </svg>
              <span class="quantidade-sucessoras absolute -top-1 -right-1 text-[10px] text-[#D1E3FA94] font-medium">
                {{ getQuantidadeSucessoras(tarefa.id_issue) }}
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>