.header-bottom {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1px;
    background-color: #223348;
}

/* Bloco de Tecnologia */
.bloco-tecnologia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 320px;
    height: 148px;
    padding: 32px;
    color: #f5f9ff;
    border-right: 1px solid rgba(173, 200, 235, 0.14);
    border-bottom: 1px solid rgba(173, 200, 235, 0.14);
}

.bloco-tecnologia .conteudo {
    display: flex;
    flex-direction: column;
    width: 296px;
}

/* Breadcrumb */
.bloco-tecnologia .breadcrumb {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: rgba(245, 249, 255, 0.7); /* Cor com transparência */
    display: block; /* Garante que o breadcrumb fique em sua própria linha */
}

/* Título */
.bloco-tecnologia .titulo {
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    color: white;
}

/* Status */
.projeto-status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    width: 86px;
    height: 29px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
}
/* Estável */
.projeto-status.estavel {
    background: var(--semantic-colors-success-10, #0FF56F1A);
    color: #0FF56F;
}

/* Crítico */
.projeto-status.critico {
    background: var(--semantic-colors-error-10, #E75D5524);
    color: #E75D55;
}

/* Instável */
.projeto-status.instavel {
    background: var(--semantic-colors-warning-10, #FFAA0033);
    color: #FFAA00;
}

.topo-bloco {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .btn-voltar {
    background-color: #C0D5F20F;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn-voltar:hover {
    background-color: #2c3e50;
    transform: scale(1.03);
  }
  
  .icone-voltar {
    width: 24px;
    height: 24px;
    color: #90BDF9;
  }
  
/* Bloco de Indicadores */
.bloco-indicadores {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 320px;
    height: 148px;
    padding: 16px;
    color: #f5f9ff;
    text-align: center;
    border-right: 1px solid rgba(173, 200, 235, 0.14);
    border-bottom: 1px solid rgba(173, 200, 235, 0.14);
}

.bloco-indicadores::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #0C6CE9 50%, #E0241A 50%);
}

.bloco-indicadores::before {
    content: "";
    display: block;
    width: 1px;
    height: calc(100% - 5px);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(173, 200, 235, 0.14);
}

.bloco-indicadores .pendente,
.bloco-indicadores .atrasadas {
    display: flex;
    flex-direction: column; /* 🔹 Organiza os itens na vertical */
    align-items: flex-start; /* 🔹 Alinha os elementos à esquerda */
    justify-content: center;
    gap: 8px;
    width: 180px;
    height: 100%;
    padding: 16px;
}

.bloco-indicadores svg {
    width: 20px;
    height: 20px;
    color: #f5f9ff;
    margin-bottom: 8px; /* 🔹 Dá um pequeno espaço entre o ícone e o texto */

}

.texto-numero {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 🔹 Alinha os textos à esquerda */
    justify-content: center;
    width: 104px;
    height: 54px;
    gap: 4px;
}

.texto-numero .texto {
    font-weight: 600;
    font-size: 13px;
    line-height: 125%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #f5f9ff;
}

.texto-numero .numero {
    font-weight: 600;
    font-size: 40px;
    line-height: 125%;
    color: #f5f9ff;
}

/* ====================== */
/* BLOCO FILTRO */
/* ====================== */
.bloco-filtro {
  min-width: 500px;
  /* width: 720px;  <-- remova ou comente esta linha */
  height: 149px;
  padding: var(--spacing-lg);
  gap: var(--spacing-sm);
  background: var(--primary-bg);
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2 1 0%; /* <- faz o bloco crescer para ocupar o espaço restante */
  box-sizing: border-box;
}
  
  /* Título do Filtro */
  .titulo-filtro {
    font-size: var(--font-large);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-sm);
    color: var(--text-primary);
  }
  
  /* Container dos filtros */
  .filtro-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
  }
  
  /* Dropdown para selecionar a categoria */
  .dropdown-wrapper {
    /*width: 656px; */
    width: 100%;
    min-width: 720px;
    height: var(--height-small);
    min-width: 320px;
    display: flex;
    gap: var(--spacing-xs);
  }
  
  .dropdown {
    width: 100%;
    height: 100%;
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-sm);
    background: var(--secondary-bg);
    color: var(--text-primary);
    font-size: var(--font-medium);
    cursor: pointer;
  }
  
  /* Input de pesquisa */
  .input-wrapper {
    /* width: 656px; */
    width: 100%;
    height: var(--height-small);
    min-width: 320px;
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    position: relative;
  }
  
  /* Campo de texto */
  .input-text {
    min-width: 596px;
    width: 100%;
    height: var(--height-small);
    padding: var(--spacing-xs);
    border: none;
    border-radius: var(--border-radius-sm);
    background: var(--secondary-bg);
    color: var(--text-primary);
    font-size: var(--font-medium);
  }
  
  .input-text::placeholder {
    color: var(--placeholder-text);
  }

  .btn-search {
    width: 44px;
    height: var(--height-small);
    background: var(--primary-blue);
  }
  
  .btn-search:hover {
    background: var(--hover-blue);
  }
  
  .icon-search {
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--text-primary);
  }

  .tabela-container {
    margin: 0 auto;
    padding: 1rem;
  }
  
  .tabela-tarefas {
    width: 100%;
    border-collapse: separate; /* Use separate para suportar bordas arredondadas */
    background-color: #223348;
    border-spacing: 0; /* Garante que não haja espaçamento entre células */
    border-radius: 7px; /* Adiciona bordas arredondadas */
    overflow: hidden; /* Garante que o arredondamento seja aplicado */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Contorno externo da tabela */
  }
  
  .tabela-tarefas th,
.tabela-tarefas td {
  padding: 10px;
  text-align: inherit;
}

/* Cabeçalho da tabela */
.tabela-tarefas th {
  color: #EBF4FFE5;
  font-weight: var(--font-weight-bold) !important; /* Font weight 600 para o título */
  font-size: var(--font-small);
}

/* Linhas da tabela */
.tabela-tarefas tr {
  position: relative; /* Necessário para posicionar o pseudo-elemento */
}

.tabela-tarefas tr:after {
  content: '';
  position: absolute;
  bottom: 0; /* Alinha no final da linha */
  left: 10px; /* Define o início da linha */
  right: 10px; /* Define o final da linha antes da borda */
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2); /* Cor da linha */
}

.tabela-tarefas td {
  color: #EBF4FFE5;
  font-size: var(--font-normal) !important;
  font-weight: var(--font-weight-light) !important;
  border-bottom: none; /* Remove a borda padrão entre as células */
}

.cabecalho-responsavel {
    align-items: center;
    padding-right: 16px;        /* Padding adequado à direita */
    padding-left: 0;            /* Garante que não empurre da esquerda */
    height: 100%;
  }
  
  /* CÉLULA: conteúdo do responsável */
  .coluna-responsavel {
    text-align: right;          /* Alinha conteúdo à direita */
    padding-right: 16px;        /* Padding à direita */
    padding-left: 0;            /* Remove padding à esquerda */
  }
  
  .titulo-coluna {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    height: 35px;
  }
  
  .icone-seta {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    fill: #B4CDEE3B;
    transition: transform 0.2s ease;
  }
  
  .ascending {
    transform: rotate(180deg);
  }
  
  .descending {
    transform: rotate(0deg);
  }

  .texto-cliente {
    display: inline-block;
    background-color: #C0D5F20F;
    border-radius: var(--border-radius-md);
    padding: 4px 8px; /* Ajuste conforme necessário */
}

.texto-status {
    display: inline-block;
    padding: 4px 10px; /* Ajuste conforme necessário */
    background-color: #2c3e50; /* Cor de fundo - ajuste para corresponder à imagem */
    border-radius: var(--border-radius-md);
    text-align: center;
    min-width: 80px; /* Define um tamanho mínimo */
}

.coluna-status {
    width: 280px; /* Defina uma largura fixa */
    text-align: center; /* Centraliza o título */
  }

.score.verde {
    color: #2ecc71;
    background: rgba(46, 204, 113, 0.1);
    padding: 4px 10px;
    border-radius: 8px;
  }
  
  .score.amarelo {
    color: #f1c40f;
    background: rgba(241, 196, 15, 0.1);
    padding: 4px 10px;
    border-radius: 8px;
  }
  
  .score.vermelho-claro {
    color: #e67e22;
    background: rgba(230, 126, 34, 0.1);
    padding: 4px 10px;
    border-radius: 8px;
  }
  
  .score.vermelho-escuro {
    color: #e74c3c;
    background: rgba(231, 76, 60, 0.1);
    padding: 4px 10px;
    border-radius: 8px;
  }

  .texto-score {
    display: inline-block;
    padding: 6px 12px; /* Ajuste para dar um espaço uniforme */
    border-radius: 8px;
    min-width: 60px; /* Define uma largura mínima para padronizar */
    text-align: center;
}


.score-tooltip-modal {
  position: absolute;
  left: calc(100% - 80px);
  top: 0;
  width: 624px;
  max-width: 90vw;
  height: auto;
  min-height: 180px;
  background: #2B3D52;
  color: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 9999;
  font-size: 14px;
  line-height: 1.5;
  overflow-wrap: break-word;
}

.score-tooltip-modal.tooltip-up {
  top: auto;
  bottom: 0;
}

.score-cell:hover .score-tooltip-modal {
  display: block;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

th, td {
  padding: 8px;
  text-align: center;
}

.col-peso,
.col-score {
  border-right: 1px solid rgba(173, 200, 235, 0.24);
}

.badge-classificacao {
  background: #C0D5F20F;
  color: #cbd6e2;
  padding: 5px 10px;
  border-radius: 6px;
}

.badge {
  font-size: 14px;
}

.col-subtotal {
  text-align: right !important;
}

.dot-red {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
  border-radius: 50%;
  background-color: #E0241A;
}

.status-bolinha {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
  vertical-align: middle;
  border: 1px solid #bbb;
}

.status-bolinha.verde {
  background: #18aa61;
  border-color: #18aa61;
}
.status-bolinha.vermelha {
  background: #E0241A;
  border-color: #E0241A;
}
.status-bolinha.amarela {
  background: #FFFF00;
  border-color: #FFFF00;
}
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  background-color: #2B3D52; /* Fundo escuro */
  color: #fff; /* Texto branco */
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
  position: absolute;
  bottom: 100%; /* Posiciona acima do elemento */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.icone-link {
  width: 20px;
  height: 20px;
  color: #D1E3FA94;
  stroke: currentColor;
}

.quantidade-sucessoras {
  position: relative;
  top: -10px;       /* Estava -4px ou -1px, agora sobe mais */
  right: -4px;
  font-size: 10px;
  color: #D1E3FA94;
  font-weight: 500;
}

.sucessoras-button {
  text-decoration: none;
}

@media (min-width: 1440px) {
  .cabecalho-inferior {
    gap: 32px;
  }

  .bloco-tecnologia,
  .bloco-indicadores,
  .bloco-filtro {
    padding: 32px;
  }

  .titulo {
    font-size: 26px;
  }

  .texto-numero .numero {
    font-size: 48px;
  }
}

.link-is {
  color: #f5f9ff !important;
  text-decoration: none;
}

.link-is:hover {
  text-decoration: underline;
}
