/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  /* Cores */
  --primary-bg: #223348;
  --secondary-bg: #2E3B4E;
  --general-bg: #2B3D52;
  --primary-blue: #0C6CE9;
  --hover-blue: #095BB5;
  --dark-hover-blue: #084BA3;
  --text-primary: #EBF4FF;
  --text-secondary: #EBF4FFE5;
  --text-muted: #D9E8FCB0;
  --placeholder-text: #90A1B9;
  --error-red: #E75D55;
  --hover-cancel-bg: rgba(192, 213, 242, 0.2);
  --disabled-primary-bg: rgba(12, 108, 233, 0.5);
  --secondary-hover-bg: rgba(192, 213, 242, 0.1);
  --border-dashed-highlight: rgba(255, 255, 255, 0.5);

  /* Bordas e transparências */
  --border-light: rgba(255, 255, 255, 0.2);
  --border-light-thicker: rgba(255, 255, 255, 0.3);
  --border-dashed: rgba(255, 255, 255, 0.1);
  --border-contrast: rgba(173, 200, 235, 0.14);

  /* Fontes */
  --font-family: 'Inter', sans-serif;
  --font-small: 13px;
  --font-medium: 14px;
  --font-normal: 16px;
  --font-large: 18px;
  --font-title: 22px;

  /* Font weights */
  --font-weight-light: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  /* Tamanhos */
  --height-small: 36px;
  --height-medium: 40px;
  --height-large: 60px;
  --icon-size: 24px;
  --icon-size-sm: 16px;
  --input-width-small: 50px;
  --modal-max-width: 900px;

  /* Espaçamentos */
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 20px;
  --spacing-lg: 32px;

  /* Bordas */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;

  /* Transições */
  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;
  --transition-scale: 0.2s ease;
  --modal-padding: 20px;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1px;
  background-color: var(--primary-bg);
}

.topo-bloco {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filtro-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.titulo-filtro {
  font-size: var(--font-medium);
  font-weight: var(--font-weight-light);
  line-height: 125%;
  color: var(--text-muted);
}

.bloco-tecnologia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 320px;
  height: 148px;
  padding: var(--spacing-lg);
  color: #f5f9ff;
  border-right: 1px solid rgba(173, 200, 235, 0.14);
  border-bottom: 1px solid rgba(173, 200, 235, 0.14);
}

.bloco-tecnologia .breadcrumb {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: rgba(245, 249, 255, 0.7);
  display: block;
}

.bloco-tecnologia .status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  width: 86px;
  /* Mantém o tamanho correto */
  height: 29px;
  border-radius: 8px;
  background: var(--semantic-colors-success-10, #0FF56F1A);
  color: #0FF56F;
  font-weight: 500;
  font-size: 14px;
}

.bloco-tecnologia .titulo {
  font-weight: 600;
  font-size: 22px;
  line-height: 125%;
  color: white;
}

.bloco-tecnologia .conteudo {
  display: flex;
  flex-direction: column;
  width: 296px;
}

.bloco-indicadores {
  position: relative;
  display: flex;
  width: 360px;
  height: 148px;
  padding: var(--spacing-sm) !important;
  color: var(--text-primary);
  gap: var(--spacing-md);
  border-right: 1px solid var(--border-contrast);
  border-bottom: 1px solid var(--border-contrast);
  text-align: center;
}

.bloco-indicadores--paa {
    min-width: 550.5px;
    height: 148px;
    gap: 86px !important;
  }

/* Bloco de Indicadores */
.bloco-indicadores .pendente,
.bloco-indicadores .atrasadas,
.bloco-indicadores .aguardando-setor {
  flex: 1 1 0;
  min-width: 0;
  height: 100%;
  padding: 30px 0;
  /* só padding em cima/baixo */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  box-sizing: border-box;
}

.bloco-indicadores svg {
  width: 20px;
  height: 20px;
  color: #f5f9ff;
  margin-bottom: 8px;
}

.bloco-indicadores::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right,
      #0C6CE9 0%,
      #0C6CE9 33.33%,
      #E0241A 33.33%,
      #E0241A 66.66%,
      #FFD600 66.66%,
      #FFD600 100%);
}

.bloco-indicadores .divider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: rgba(173, 200, 235, 0.2);
  z-index: 2;
}

.bloco-indicadores .divider.div1 {
  left: calc(33.33%);
}

.bloco-indicadores .divider.div2 {
  left: calc(66.66%);
}

.icon-search {
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--text-primary);
}

.texto-numero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 104px;
  height: 54px;
  gap: 4px;
}

.texto-numero .texto {
  font-weight: 600;
  font-size: 13px;
  line-height: 125%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #f5f9ff;
}

.texto-numero .numero {
  font-weight: 600;
  font-size: 40px;
  line-height: 125%;
  color: #f5f9ff;
}

/* Status bolinha */
.status-bolinha {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
  vertical-align: middle;
  border: 1px solid #bbb;
}

.status-bolinha.verde {
  background: #18aa61;
  border-color: #18aa61;
}

.status-bolinha.vermelha {
  background: #E0241A;
  border-color: #E0241A;
}

.status-bolinha.amarela {
  background: #FFD600;
  border-color: #FFD600;
}

.status-bolinha.azul {
  background: #a359e8;
  border-color: #a359e8;
}

/* ====================== */
/* SCORES */
/* ====================== */
.score {
  padding: 4px 10px;
  border-radius: 8px;
  display: inline-block;
  font-weight: 500;
}

.score.verde {
  color: #2ecc71;
  background: rgba(46, 204, 113, 0.1);
}

.score.amarelo {
  color: #f1c40f;
  background: rgba(241, 196, 15, 0.1);
}

.score.vermelho-claro {
  color: #e67e22;
  background: rgba(230, 126, 34, 0.1);
}

.score.vermelho-escuro {
  color: #e74c3c;
  background: rgba(231, 76, 60, 0.1);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  font-size: var(--font-normal);
  padding: var(--spacing-xs);
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: transform var(--transition-fast), background-color var(--transition-fast), color var(--transition-fast);
}

.btn:hover {
  transform: scale(1.05);
  background: var(--hover-blue);
  color: var(--text-primary);
}

.btn:active,
.btn:focus {
  outline: none;
  color: var(--text-primary) !important;
}

.btn:disabled {
  background: rgba(12, 108, 233, 0.5);
  color: var(--text-muted);
  cursor: not-allowed;
}

.btn-voltar {
  width: 34px;
  height: 34px;
  border: none;
  background: rgba(70, 90, 120, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.10);
  outline: none;
  padding: 0;
}

.btn-voltar:hover {
  background-color: #2c3e50;
  transform: scale(1.03);
}

.btn-search {
  width: 44px;
  height: var(--height-small);
  background: var(--primary-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  border-radius: 8px;
}

.btn-search:hover {
  background: var(--hover-blue);
}

 .icone-voltar {
      width: 24px;
      height: 24px;
      color: #90BDF9;
  }

    .bloco-filtro {
      width: 100%;
      min-width: 300px;
      max-width: 100%;
      height: 149px;
      padding: var(--spacing-lg);
      gap: var(--spacing-xs);
      background: var(--primary-bg);
      border-radius: var(--border-radius-md);
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      flex: 2 1 0%;
     }

.dropdown-wrapper {
  width: 100%;
  height: var(--height-small);
  min-width: 320px;
  display: flex;
  gap: var(--spacing-xs);
}

.dropdown {
  width: 100%;
  height: 100%;
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-sm);
  background: var(--secondary-bg);
  color: var(--text-primary);
  font-size: var(--font-medium);
  cursor: pointer;
}
.apexcharts-legend-text {
  font-size: 18px !important;
}

.input-wrapper {
  /* width: 656px; */
  width: 100%;
  height: var(--height-small);
  min-width: 320px;
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  position: relative;
}

/* Campo de texto */
.input-text {
  min-width: 320px;
  width: 100%;
  height: var(--height-small);
  padding: var(--spacing-xs);
  border: none;
  border-radius: var(--border-radius-sm);
  background: var(--secondary-bg);
  color: var(--text-primary);
  font-size: var(--font-medium);
}

.input-text::placeholder {
  color: var(--placeholder-text);
}

.projeto-status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  width: 86px;
  height: 29px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
}

.projeto-status.estavel {
  background: var(--semantic-colors-success-10, #0FF56F1A);
  color: #0FF56F;
}

.projeto-status.critico {
  background: var(--semantic-colors-error-10, #E75D5524);
  color: #E75D55;
}

.projeto-status.instavel {
  background: var(--semantic-colors-warning-10, #FFAA0033);
  color: #FFAA00;
}

.linha {
  display: flex;
  justify-content: space-between;
  height: 35px;
  border-bottom: 1px solid rgba(173, 200, 235, 0.14);
}

/* Global */
.tabela-container {
  padding: 1rem;
  width: 100%;
}

.tabela-container--centralizada {
  margin: 0 auto;
}

.tabela-tarefas {
  width: 100%;
  border-collapse: separate;
  background-color: #223348;
  border-spacing: 0;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.tabela-tarefas--largura-minima {
  min-width: 600px;
}

.tabela-tarefas th,
.tabela-tarefas td {
  padding: 10px;
  text-align: inherit;
}

.tabela-tarefas th {
  color: #EBF4FFE5;
  font-weight: var(--font-weight-bold) !important;
  font-size: var(--font-small);
}

.tabela-tarefas tr {
  position: relative;
}

.tabela-tarefas tr:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.tabela-tarefas td {
  color: #EBF4FFE5;
  font-size: var(--font-normal);
  font-weight: var(--font-weight-light);
  border-bottom: none;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #2B3D52; /* Fundo geral da página */
}

@media (max-width: 900px) {

  .bloco-tecnologia,
  .bloco-indicadores,
  .bloco-filtro,
  .quadro {
    min-width: 220px;
    padding: var(--spacing-sm);
  }

  .tabela-tarefas th,
  .tabela-tarefas td {
    font-size: var(--font-small);
    padding: 6px;
  }
}

@media (min-width: 1440px) {

  .bloco-tecnologia,
  .bloco-indicadores,
  .bloco-filtro {
    padding: var(--spacing-lg);
  }

  .titulo {
    font-size: 26px;
  }

  .texto-numero .numero {
    font-size: 48px;
  }
}

/* ====================== */
/* OUTROS AJUSTES */
/* ====================== */
.shadow-hover:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}