/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --cor-fundo: #223348;
  --cor-texto-claro: #f5f9ff;
  --cor-acento: #0C6CE9;
  --cor-sucesso: #0FF56F1A;
  --cor-sucesso-texto: #0FF56F;
  --cor-erro: #E0241A;
  --cor-borda: rgba(173, 200, 235, 0.14);
  --border-radius: 8px;
  --font-size-padrao: 14px;
  --font-size-titulo: 18px;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #2B3D52; /* Fundo geral da página */
}
